@charset 'utf-8';
/* FOR PRINT */
/*
by Misti Wolanski
http://mistiwolanski.com

Makes sure that the content can print, and that links to URLs display the addresses, so they can be used or referenced by the person who prints it.
*/
@media print {

/* DEFAULT SETTINGS */
:root {
	font-size: 14px;
	}
* {
	background: transparent !important;
	box-shadow: none !important;
	color: #000 !important;
	text-shadow: none !important;
	}
a {
	text-decoration: underline;
	}
a[href^='http']:after {
	content: " [" attr(href) "]";
	text-decoration: none !important;
	}
abbr[title]:after {
	content: " (" attr(title) ")";
	}

} /* end @media print */
